In [1]:
##############
#K. David Roell CFPB 7/12/16
#expands data selection for quality edits to include context for developing statistical approaches
#will attemtp to segment mortgage market participants by loan activity by:
#volume/count of lending, income of applicants, securitization, property type and other factors
##############

import json
import os
import pandas as pd
import psycopg2
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
get_ipython().magic(u'matplotlib inline')
matplotlib.style.use('ggplot')
#from macro_sql import Q076 
with open('quality_sql.json') as f: #FIXME change to quality_sql.json and refactor the rest of code
    edit_sql = json.load(f)
    
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',

}


try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)

i'm connected

In [2]:
def desc_stats_geo(table='hmdalar2014', field= 'amount', where_max=None, where_min=None, geo_level=None):
    """generates SQL statement to get descriptive statistics for a LAR field and group them by a geography if one is specified.
    min and max can also be specified to focus analysis on a specific numeric range"""
    #FIXME change default values to none and implement value error
    #establish geo level for grouping
    if geo_level == 'msa':
        geo_sql = 'msa AS msa,'
        geo_group = ',msa'
    elif geo_level == 'state':
        geo_sql = 'state AS state,'
        geo_group = ',state'
    elif geo_level == 'county':
        geo_sql = 'CONCAT(state,county) AS county,'
        geo_group = ',CONCAT(state,county)'
    elif geo_level == 'tract':
        geo_sql = 'CONCAT(state,county,tract) AS tract,'
        geo_group = ',CONCAT(state,county,tract)'
    else:
        geo_sql = ''
        geo_group = ''
        
    base_sql = """SELECT year, {geo_level} COUNT({field}) AS count_loans, SUM({field}::INT) AS sum_amt, AVG({field}::INT) AS avg_{field}, 
    STDDEV({field}::INT) AS std_{field}, MIN({field}::INT) AS min_{field}, 
    MAX({field}::INT) AS max_{field}""".format(field=field, geo_level=geo_sql)
    table_sql = "\nFROM {table}\n".format(table=table) 
    where_sql = "WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND {field} NOT ILIKE '%NA%' ".format(field=field)
    if where_max:
        where_sql = where_sql + " AND {field}::INT < ".format(field=field) + str(where_max)
    if where_min:
        where_sql = where_sql + " AND {field}::INT > ".format(field=field) + str(where_min)
    group_sql = """ GROUP BY year {geo_level}""".format(geo_level=geo_group)
    
    return_sql = base_sql + table_sql + where_sql + group_sql
    print(return_sql)
    return return_sql

In [3]:

#get descriptive statistics for the field named
#FIXME add an optional set of limits to look at sub distributions min/max= 10/600? set by cumulative probability
def get_desc_stats(geo_level=None, field='amount', year=2014, where_max=None, where_min=None):
    """"""
    #FIXME change default values to none and implement value error
    first = True
    while year > 2003: #loop over all years until schema change in LAR data
        table = 'hmdalar' + str(year) #set table name for query
        
        print(table)
        #cur.execute(desc_stats(table=table, field=field))        
        cur.execute(desc_stats_geo(table=table, field=field, where_max=where_max, where_min=where_min, geo_level=geo_level))        
        data_df = pd.DataFrame(cur.fetchall()) #convert query results to dataframe
        col_names = [desc[0] for desc in cur.description] #pull column names from cursor
        
        if len(data_df.columns) == len(col_names): #verify data was returned before naming columns
            print('setting column names')
            data_df.columns = col_names
        if first == True and len(data_df.columns) > 0: 
            dist_df = data_df.copy() #establish initial data frame
            first = False
        elif first == False and len(data_df.columns) > 0:
            print('merging dataframes')
            dist_df=dist_df.merge(data_df, how='outer') #merge subsequent data into initial data frame
        else:
            print('no data returned from query')
        
        #set upper and lower bounds on distribution
        dist_df['-2STD'] = dist_df['avg_{field}'.format(field=field)] - 2*dist_df['std_{field}'.format(field=field)]
        dist_df['+2STD'] = dist_df['avg_{field}'.format(field=field)] + 2*dist_df['std_{field}'.format(field=field)]
        
        print(dist_df.tail()) #print data to check results during execution
        
        path = 'dist_csvs/'
        if not os.path.exists(path):
            os.makedirs(path)
        year -= 1 #decrement year to select new table

    dist_df.to_csv(path + '{field}_desc_stats_{geo_level}.csv'.format(field=field, geo_level=geo_level),index=False)

In [5]:
#get_desc_stats(geo_level='state', field='income')

In [4]:
get_desc_stats(geo_level='msa', field='amount')

hmdalar2014
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2014
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
     year    msa  count_loans   sum_amt            avg_amount  \
404  2014  NA          572701  97012165  169.3940904590702653
405  2014  14454        21262   8403251  395.2239206095381432
406  2014  29820        16387   3591352  219.1586013303228169
407  2014  24580         3955    577626  146.0495575221238938
408  2014  15540         2815    631402  224.2991119005328597

              std_amount  min_amount  max_amount                  -2STD  \
404     269.324771537868           1       99999  -369.2554526166657347
405     342.076011019465           1       12000  -288.9281014293918568
406     175.645789109022           1        3569  -132.1329768877211831
407  95.4934768403082946           1        1950   -44.9373961584926954
408     108.892907472059           1        1100     6.5132969564148597

                     +2STD
404   708.0436335348062653
405  1079.3759426484681432
406   570.4501795483668169
407   337.0365112027404830
408   442.0849268446508597
hmdalar2013
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2013
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
     year    msa  count_loans    sum_amt            avg_amount  \
797  2013  46140      14967.0  2330009.0  155.6764214605465357
798  2013  38940       6277.0  1075361.0  171.3176676756412299
799  2013  29100       1901.0   275722.0  145.0405049973698054
800  2013  21140       2235.0   278031.0  124.3986577181208054
801  2013  27140       7843.0  1318846.0  168.1558077266352161

              std_amount  min_amount  max_amount                  -2STD  \
797     118.988705491546         1.0      4000.0   -82.3009895225454643
798     174.013448163969         1.0      5000.0  -176.7092286522967701
799  88.9662321543676673         4.0      1896.0   -32.8919593113655292
800  72.8545410539477509         1.0       778.0   -21.3104243897746964
801     102.397196598972         1.0      2750.0   -36.6385854713087839

                    +2STD
797  393.6538324436385357
798  519.3445640035792299
799  322.9729693061051400
800  270.1077398260163072
801  372.9502009245792161
hmdalar2012
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2012
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans    sum_amt            avg_amount  \
1190  2012  36740      25529.0  4478892.0  175.4432997767245094
1191  2012  33780       1418.0   185260.0  130.6488011283497884
1192  2012  30340       1000.0   141072.0  141.0720000000000000
1193  2012  19740      39411.0  9524338.0  241.6669965238131486
1194  2012  29540       5911.0   983553.0  166.3936728133987481

               std_amount  min_amount  max_amount                  -2STD  \
1190     150.263102613087         1.0      3890.0  -125.0829054494494906
1191  69.5479663326216236         2.0       638.0    -8.4471315368934588
1192  63.1416953343010081         1.0       512.0    14.7886093313979838
1193     158.889914130962         1.0      5600.0   -76.1128317381108514
1194  86.8233955653057071         1.0      1760.0    -7.2531183172126661

                     +2STD
1190  475.9695050028985094
1191  269.7447337935930356
1192  267.3553906686020162
1193  559.4468247857371486
1194  340.0404639440101623
hmdalar2011
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2011
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans    sum_amt            avg_amount  \
1583  2011  19660       5790.0   738328.0  127.5177892918825561
1584  2011  28020       3468.0   463489.0  133.6473471741637832
1585  2011  40340       2790.0   416111.0  149.1437275985663082
1586  2011  36260       7080.0  1295331.0  182.9563559322033898
1587  2011  21940        802.0    92277.0  115.0586034912718204

               std_amount  min_amount  max_amount                 -2STD  \
1583  99.6713823771324545         1.0      1771.0  -71.8249754623823529
1584     104.750219619869         2.0      2500.0  -75.8530920655742168
1585  97.3747908747247048         1.0      1350.0  -45.6058541508831014
1586     101.650771930657         1.0      1482.0  -20.3451879291106102
1587  68.1248784088611063        10.0       646.0  -21.1911533264503922

                     +2STD
1583  326.8605540461474651
1584  343.1477864139017832
1585  343.8933093480157178
1586  386.2578997935173898
1587  251.3083603089940330
hmdalar2010
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2010
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans    sum_amt            avg_amount  \
1976  2010  49340       9796.0  2013039.0  205.4960187831768069
1977  2010  17420       1412.0   181174.0  128.3101983002832861
1978  2010  28100       1080.0   136715.0  126.5879629629629630
1979  2010  28140      35821.0  5850558.0  163.3276011278300438
1980  2010  21780       4971.0   611760.0  123.0657815328907664

               std_amount  min_amount  max_amount                 -2STD  \
1976     111.667818868169         2.0      2000.0  -17.8396189531611931
1977  66.9373451351195428         1.0       419.0   -5.5644919699557995
1978  66.1565226551587883         7.0       720.0   -5.7250823473546136
1979     101.674633320614         1.0      2600.0  -40.0216655133979562
1980  77.8544655412651665         1.0       920.0  -32.6431495496395666

                     +2STD
1976  428.8316565195148069
1977  262.1848885705223717
1978  258.9010082732805396
1979  366.6768677690580438
1980  278.7747126154210994
hmdalar2009
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2009
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans     sum_amt            avg_amount  \
2369  2009  42540       5704.0    697528.0  122.2875175315568022
2370  2009  14540       1600.0    202774.0  126.7337500000000000
2371  2009  10380       1670.0    193800.0  116.0479041916167665
2372  2009  41884      20730.0  11047869.0  532.9410998552821997
2373  2009  35660       1890.0    285744.0  151.1873015873015873

               std_amount  min_amount  max_amount                  -2STD  \
2369  74.9320253904560303         1.0       743.0   -27.5765332493552584
2370  69.6695163746844630         5.0       852.0   -12.6052827493689260
2371  74.2852104467049797         2.0       784.0   -32.5225167017931929
2372     368.340133186965         1.0      9800.0  -203.7391665186478003
2373     162.554856473995         1.0      2600.0  -173.9224113606884127

                      +2STD
2369   272.1515683124688628
2370   266.0727827493689260
2371   264.6183250850267259
2372  1269.6213662292121997
2373   476.2970145352915873
hmdalar2008
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2008
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans     sum_amt            avg_amount  \
2759  2008  26580      13472.0   1476740.0  109.6154988123515439
2760  2008  16740     162468.0  31977152.0  196.8212324888593446
2761  2008  46340      14492.0   2161084.0  149.1225503726193762
2762  2008  22500       9872.0   1322672.0  133.9821717990275527
2763  2008  31140      83240.0  11977612.0  143.8925036040365209

                std_amount  min_amount  max_amount                  -2STD  \
2759  100.0342055239170448         1.0      2000.0   -90.4529122354825457
2760      178.622563456144         1.0      5500.0  -160.4238944234286554
2761  117.5696142653583637         1.0      2099.0   -86.0166781580973512
2762   95.6840934336575750         1.0      2025.0   -57.3860150682875973
2763      102.090555422783         1.0      2650.0   -60.2886072415294791

                     +2STD
2759  309.6839098601856335
2760  554.0663594011473446
2761  384.2617789033361036
2762  325.3503586663427027
2763  348.0736144496025209
hmdalar2007
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2007
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans     sum_amt            avg_amount  \
3149  2007  12100       7474.0   1745278.0  233.5132459191865132
3150  2007  44220       2612.0    243872.0   93.3660030627871363
3151  2007  23460       2062.0    218585.0  106.0063045586808923
3152  2007  45300      71591.0  14426473.0  201.5123828414186141
3153  2007  45940       8465.0   1908703.0  225.4817483756645009

               std_amount  min_amount  max_amount                  -2STD  \
3149     191.235344371256         5.0      3800.0  -148.9574428233254868
3150  62.7220409744696890         1.0       980.0   -32.0780788861522417
3151  80.7039711823406280         1.0      1000.0   -55.4016378060003637
3152     185.506014433153         1.0     10500.0  -169.4996460248873859
3153     182.642710157023         2.0      4250.0  -139.8036719383814991

                     +2STD
3149  615.9839346616985132
3150  218.8100850117265143
3151  267.4142469233621483
3152  572.5244117077246141
3153  590.7671686897105009
hmdalar2006
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2006
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans    sum_amt            avg_amount  \
3537  2006  33700      16568.0  4081092.0  246.3237566393046837
3538  2006  37100      18954.0  8258395.0  435.7072385776089480
3539  2006  27860       2553.0   249663.0   97.7920094007050529
3540  2006  44940       2505.0   291034.0  116.1812375249500998
3541  2006  22540       2015.0   229967.0  114.1275434243176179

               std_amount  min_amount  max_amount                  -2STD  \
3537     156.072816892360         1.0      1500.0   -65.8218771454153163
3538     335.405863163135         1.0      7875.0  -235.1044877486610520
3539  67.0346216546988973         1.0       750.0   -36.2772339086927417
3540  70.4253102821714578         1.0       650.0   -24.6693830393928158
3541  77.9482558912931264         2.0       977.0   -41.7689683582686349

                      +2STD
3537   558.4693904240246837
3538  1106.5189649038789480
3539   231.8612527101028475
3540   257.0318580892930154
3541   270.0240552069038707
hmdalar2005
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2005
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans     sum_amt            avg_amount  \
3925  2005  12580      88971.0  17905540.0  201.2514190016971822
3926  2005  23060      10807.0   1069660.0   98.9784399000647728
3927  2005  42260      40243.0   9919601.0  246.4925825609422757
3928  2005  13780       3671.0    335755.0   91.4614546445110324
3929  2005  27500       4681.0    491150.0  104.9241615039521470

               std_amount  min_amount  max_amount                  -2STD  \
3925     171.901498145660         1.0      4550.0  -142.5515772896228178
3926  73.5215523103738111         1.0      1800.0   -48.0646647206828494
3927     242.319677934328         1.0      7400.0  -238.1467733077137243
3928  64.1390100848787183         5.0       919.0   -36.8165655252464042
3929  70.4930348704202617         1.0      1928.0   -36.0619082368883764

                     +2STD
3925  545.0544152930171822
3926  246.0215445208123950
3927  731.1319384295982757
3928  219.7394748142684690
3929  245.9102312447926704
hmdalar2004
SELECT year, msa AS msa, COUNT(amount) AS count_loans, SUM(amount::INT) AS sum_amt, AVG(amount::INT) AS avg_amount,
    STDDEV(amount::INT) AS std_amount, MIN(amount::INT) AS min_amount,
    MAX(amount::INT) AS max_amount
FROM hmdalar2004
WHERE property_type = '1' AND loan_purpose = '1' AND agency != '7' AND amount NOT ILIKE '%NA%'  GROUP BY year ,msa
setting column names
merging dataframes
      year    msa  count_loans    sum_amt            avg_amount  \
4313  2004  22420       9233.0  1071815.0  116.0852377342142316
4314  2004  29740       3450.0   427891.0  124.0263768115942029
4315  2004  12420      50709.0  6817312.0  134.4398824666232819
4316  2004  16940       2471.0   324327.0  131.2533387292594091
4317  2004  41660       1973.0   163658.0   82.9488089204257476

               std_amount  min_amount  max_amount                  -2STD  \
4313  86.1130131337227952         1.0      1221.0   -56.1407885332313588
4314  71.9891155872587765         1.0       960.0   -19.9518543629233501
4315     127.087864849804         1.0      5473.0  -119.7358472329847181
4316  73.2665518184566439         1.0       722.0   -15.2797649076538787
4317  53.1044830549927648         2.0       531.0   -23.2601571895597820

                     +2STD
4313  288.3112640016598220
4314  268.0046079861117559
4315  388.6156121662312819
4316  277.7864423661726969
4317  189.1577750304112772