In [1]:
##############
#K. David Roell CFPB 7/12/16
#Compiles a report of all quality edit failures for HMDA LAR data
#
##############
import json
import os
import pandas as pd
import psycopg2
#from macro_sql import Q076 
with open('quality_sql.json') as f: #FIXME change to quality_sql.json and refactor the rest of code
    edit_sql = json.load(f)
    
#conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
#cur = conn.cursor()#instantiate cursor object to use in SQL queries
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',

}

#connect_string = "dbname=%s user=%s host=%s password =%s" %(dbname, user, host, password) #set a string for connection to SQL
try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)


lar_tables = ['hmdalar2014', 'hmdalar2013']
#edit_list = [item for item in dir(SQL_text) if not item.startswith("__")]

i'm connected

In [2]:
def edit_text(table='hmdalar2014', edit_sql=edit_sql[0]['text'], edit_name=edit_sql[0]['name'], add_fields=[]):
    base_sql = """SELECT year, agency, COUNT(sequence) AS {edit_name} """.format(edit_name=edit_name)
    table_sql = "\nFROM {table}\n".format(table=table) 
    group_sql = """ GROUP BY year, agency"""
    for field in add_fields:
        base_sql = base_sql + ',' + field
        group_sql = group_sql + ', '+ field
    return_sql = base_sql + table_sql + edit_sql + group_sql + ';'
    print(return_sql)
    return return_sql

In [ ]:
first = True
fields=['RID']
for edit in edit_sql:
    name, text = edit['name'], edit['text']
    print(name)
    #try:
    cur.execute(edit_text(edit_sql=text, edit_name=name, add_fields=fields))        
    data_df = pd.DataFrame(cur.fetchall())
    col_names = [desc[0] for desc in cur.description]
    data_df.columns = col_names
    print(data_df, '\n')
    if first:
        quality_df = data_df.copy()
        first = False
    else:
        quality_df=quality_df.merge(data_df, how='outer', on=['agency', 'year'])
        print(quality_df)

   # except:
    #    print('no dataz')
quality_df.to_csv('quality_edits.csv', index=False)

Q035
SELECT year, agency, COUNT(sequence) AS Q035 ,RID
FROM hmdalar2014
WHERE loan_type != '1' AND purchaser IN  ('1','3') GROUP BY year, agency, RID;
     year agency  q035         rid
0    2014      3     3  0000026967
1    2014      5     3  0000062542
2    2014      1     2  0000014062
3    2014      2     2  0000456157
4    2014      2     2  0000529958
5    2014      5     1  0000024438
6    2014      3     1  03-0365685
7    2014      3     6  0000014445
8    2014      9     1  0000012311
9    2014      3     1  0000030401
10   2014      3     5  0000017749
11   2014      1    19  0000009408
12   2014      7     7  7673900008
13   2014      1     8  0000703767
14   2014      3    38  0000005019
15   2014      2    22  0000058243
16   2014      9     1  99-0032158
17   2014      3    23  38-3548886
18   2014      1     9  0000000446
19   2014      3    10  0000017514
20   2014      3     1  0000019234
21   2014      7     1  5183509992
22   2014      3    10  0000012165
23   2014      3    27  26-4030355
24   2014      3     9  0000018408
25   2014      3    10  0000010378
26   2014      3    21  0000029031
27   2014      9     9  0000717924
28   2014      3    27  0000015752
29   2014      7    60  20-1875448
..    ...    ...   ...         ...
79   2014      5    11  0000005754
80   2014      2     1  0000214722
81   2014      1     3  46-0429381
82   2014      9     1  0000233031
83   2014      7     1  47-0912342
84   2014      7     1  22-2690691
85   2014      7  1312  26-2049351
86   2014      5    23  0000066834
87   2014      1    94  0000014488
88   2014      5    49  0000066330
89   2014      7     2  76-0236067
90   2014      2     9  0000068840
91   2014      1     1  0000012072
92   2014      3    11  0000011299
93   2014      3    10  0000012384
94   2014      7     5  04-6597930
95   2014      7     6  26-2253315
96   2014      3    31  0000029121
97   2014      3    13  0000000902
98   2014      1     6  0000014369
99   2014      3    14  0000010007
100  2014      3     4  0000016179
101  2014      7    61  33-0828099
102  2014      9   175  0000917742
103  2014      5    10  0000003413
104  2014      3     1  0000017598
105  2014      3     6  0000008141
106  2014      5    11  0000066595
107  2014      7     3  1461700004
108  2014      1    26  0000707101

[109 rows x 4 columns]

Q001
SELECT year, agency, COUNT(sequence) AS Q001 ,RID
FROM hmdalar2014
WHERE amount not like '%NA%' AND income not like '%NA%' AND amount::int >= 1000 AND (amount::int / income::int) <= 5 GROUP BY year, agency, RID;
      year agency  q001         rid
0     2014      5     3  0000010066
1     2014      3    42  0000021468
2     2014      3     1  0000058264
3     2014      1     3  0000016405
4     2014      3     2  26-1146120
5     2014      1    79  0000024976
6     2014      1     2  0000009343
7     2014      3     2  0000058380
8     2014      7     2  58-2546090
9     2014      1     2  0000009295
10    2014      5     4  0000060087
11    2014      3     7  0000021943
12    2014      3     1  0000058624
13    2014      3     4  0000008208
14    2014      5     1  0000067390
15    2014      3     1  0000008205
16    2014      3     1  0000030022
17    2014      7    45  80-0233937
18    2014      5     1  0000062969
19    2014      7     1  52-2350821
20    2014      3    21  0000015219
21    2014      3     2  0000013177
22    2014      3     9  0000018198
23    2014      5    29  0000068465
24    2014      3     1  0000027507
25    2014      5     2  0000067190
26    2014      3     1  0000022946
27    2014      3     2  0000004789
28    2014      3     1  0000058208
29    2014      3     1  0000014851
...    ...    ...   ...         ...
2159  2014      3     1  0000009123
2160  2014      1     1  0000701472
2161  2014      5     6  0000001717
2162  2014      1     2  0000001467
2163  2014      3     8  0000033539
2164  2014      3     1  0000034997
2165  2014      5     1  0000004702
2166  2014      1     6  0000000446
2167  2014      5    99  0000068428
2168  2014      7   114  1819300005
2169  2014      3     7  0000058069
2170  2014      3     2  0000017262
2171  2014      1     2  0000016643
2172  2014      3     4  0000090251
2173  2014      3    12  0000057934
2174  2014      1     1  0000024716
2175  2014      7     1  74-3038404
2176  2014      7     2  22-3626334
2177  2014      7     9  33-0750812
2178  2014      3     2  0000029663
2179  2014      1     4  0000016626
2180  2014      7     1  57-1049992
2181  2014      3     3  0000034862
2182  2014      7    28  72-1545376
2183  2014      1     3  0000006680
2184  2014      3     4  0000000622
2185  2014      3     2  0000034153
2186  2014      9     1  0000266271
2187  2014      3     3  0000001414
2188  2014      3     1  0000057772

[2189 rows x 4 columns]

       year agency  q035       rid_x  q001       rid_y
0      2014      3     3  0000026967    42  0000021468
1      2014      3     3  0000026967     1  0000058264
2      2014      3     3  0000026967     2  26-1146120
3      2014      3     3  0000026967     2  0000058380
4      2014      3     3  0000026967     7  0000021943
5      2014      3     3  0000026967     1  0000058624
6      2014      3     3  0000026967     4  0000008208
7      2014      3     3  0000026967     1  0000008205
8      2014      3     3  0000026967     1  0000030022
9      2014      3     3  0000026967    21  0000015219
10     2014      3     3  0000026967     2  0000013177
11     2014      3     3  0000026967     9  0000018198
12     2014      3     3  0000026967     1  0000027507
13     2014      3     3  0000026967     1  0000022946
14     2014      3     3  0000026967     2  0000004789
15     2014      3     3  0000026967     1  0000058208
16     2014      3     3  0000026967     1  0000014851
17     2014      3     3  0000026967     2  0000008889
18     2014      3     3  0000026967    16  20-8872754
19     2014      3     3  0000026967    34  0000023091
20     2014      3     3  0000026967     1  0000007614
21     2014      3     3  0000026967     1  0000013083
22     2014      3     3  0000026967    13  0000026336
23     2014      3     3  0000026967     2  0000035333
24     2014      3     3  0000026967     4  0000034401
25     2014      3     3  0000026967     3  0000019943
26     2014      3     3  0000026967     3  0000027476
27     2014      3     3  0000026967     1  0000058438
28     2014      3     3  0000026967     8  47-0927376
29     2014      3     3  0000026967     2  41-2181683
...     ...    ...   ...         ...   ...         ...
49795  2014      7     3  1461700004    41  7976700006
49796  2014      7     3  1461700004   199  37-1542226
49797  2014      7     3  1461700004     4  41-1726353
49798  2014      7     3  1461700004     9  73-1577221
49799  2014      7     3  1461700004     1  20-4514405
49800  2014      7     3  1461700004     1  76-0454396
49801  2014      7     3  1461700004     4  1519700008
49802  2014      7     3  1461700004     5  26-0402100
49803  2014      7     3  1461700004     2  11-2961751
49804  2014      7     3  1461700004     3  33-0397503
49805  2014      7     3  1461700004     2  65-1318080
49806  2014      7     3  1461700004    22  2003500009
49807  2014      7     3  1461700004     1  56-1690755
49808  2014      7     3  1461700004     9  20-5238443
49809  2014      7     3  1461700004    26  52-2091594
49810  2014      7     3  1461700004    11  47-0933090
49811  2014      7     3  1461700004    27  3028209994
49812  2014      7     3  1461700004     1  33-0816610
49813  2014      7     3  1461700004     6  33-0419992
49814  2014      7     3  1461700004     1  27-0222046
49815  2014      7     3  1461700004    20  54-1994393
49816  2014      7     3  1461700004    91  38-2750395
49817  2014      7     3  1461700004     2  91-1441009
49818  2014      7     3  1461700004     2  95-4234730
49819  2014      7     3  1461700004   114  1819300005
49820  2014      7     3  1461700004     1  74-3038404
49821  2014      7     3  1461700004     2  22-3626334
49822  2014      7     3  1461700004     9  33-0750812
49823  2014      7     3  1461700004     1  57-1049992
49824  2014      7     3  1461700004    28  72-1545376

[49825 rows x 6 columns]
Q002
SELECT year, agency, COUNT(sequence) AS Q002 ,RID
FROM hmdalar2014
WHERE property_type = '1' AND income NOT LIKE '%NA%' AND amount NOT LIKE '%NA%' AND income::INT >= 200 AND amount::INT >= 2000 GROUP BY year, agency, RID;
     year agency  q002         rid
0    2014      2     4  0000759045
1    2014      3    11  0000021468
2    2014      3     1  0000015697
3    2014      9    16  0000564605
4    2014      9     4  0000197478
5    2014      1    11  0000024976
6    2014      2     1  0000615217
7    2014      1     1  0000024994
8    2014      5     1  0000060087
9    2014      3     1  0000021943
10   2014      3     1  0000016606
11   2014      5     4  0000011065
12   2014      3     1  0000013421
13   2014      1     1  0000022351
14   2014      1     4  0000012898
15   2014      3     1  0000008208
16   2014      2     1  0001917301
17   2014      3     2  0000032718
18   2014      9    13  0002193616
19   2014      7     2  3028209994
20   2014      3     1  0000029878
21   2014      3     2  0000019333
22   2014      9    21  0000012311
23   2014      7     1  80-0233937
24   2014      2     2  0000738303
25   2014      3     1  0000019953
26   2014      3     1  0000013454
27   2014      3     4  0000015219
28   2014      2     4  0003536407
29   2014      3     2  0000020310
..    ...    ...   ...         ...
807  2014      5     1  0000008116
808  2014      3     1  0000016470
809  2014      9     6  0001004368
810  2014      9    28  0000877369
811  2014      5     1  0000066364
812  2014      7     1  52-2240353
813  2014      9     1  0000908508
814  2014      7     2  37-1542226
815  2014      3     1  0000013303
816  2014      3     1  0000011706
817  2014      7     1  73-1577221
818  2014      2     2  0003187630
819  2014      3     1  0000000089
820  2014      3     1  0000010165
821  2014      1     1  0000024661
822  2014      3     1  0000028915
823  2014      3     1  0000022327
824  2014      3     1  0000021292
825  2014      3     1  0000058533
826  2014      3     1  0000003256
827  2014      9   103  0000497404
828  2014      3     1  0000027238
829  2014      3     1  0000011124
830  2014      5     1  0000067290
831  2014      3     4  0000015504
832  2014      3     1  0000018012
833  2014      3     2  0000024516
834  2014      2     5  0000154257
835  2014      3     1  0000090215
836  2014      5     6  0000005571

[837 rows x 4 columns]

          year agency  q035       rid_x  q001       rid_y  q002         rid
0         2014      3     3  0000026967    42  0000021468    11  0000021468
1         2014      3     3  0000026967    42  0000021468     1  0000015697
2         2014      3     3  0000026967    42  0000021468     1  0000021943
3         2014      3     3  0000026967    42  0000021468     1  0000016606
4         2014      3     3  0000026967    42  0000021468     1  0000013421
5         2014      3     3  0000026967    42  0000021468     1  0000008208
6         2014      3     3  0000026967    42  0000021468     2  0000032718
7         2014      3     3  0000026967    42  0000021468     1  0000029878
8         2014      3     3  0000026967    42  0000021468     2  0000019333
9         2014      3     3  0000026967    42  0000021468     1  0000019953
10        2014      3     3  0000026967    42  0000021468     1  0000013454
11        2014      3     3  0000026967    42  0000021468     4  0000015219
12        2014      3     3  0000026967    42  0000021468     2  0000020310
13        2014      3     3  0000026967    42  0000021468     1  0000011895
14        2014      3     3  0000026967    42  0000021468    11  0000023091
15        2014      3     3  0000026967    42  0000021468     7  04-2876549
16        2014      3     3  0000026967    42  0000021468     7  0000026336
17        2014      3     3  0000026967    42  0000021468     4  0000033539
18        2014      3     3  0000026967    42  0000021468     2  0000058691
19        2014      3     3  0000026967    42  0000021468     1  0000058069
20        2014      3     3  0000026967    42  0000021468     6  0000057934
21        2014      3     3  0000026967    42  0000021468     2  0000034401
22        2014      3     3  0000026967    42  0000021468     1  0000027476
23        2014      3     3  0000026967    42  0000021468     1  0000000622
24        2014      3     3  0000026967    42  0000021468     2  0000001414
25        2014      3     3  0000026967    42  0000021468     1  0000057249
26        2014      3     3  0000026967    42  0000021468     2  0000012010
27        2014      3     3  0000026967    42  0000021468     2  0000016191
28        2014      3     3  0000026967    42  0000021468     1  0000058424
29        2014      3     3  0000026967    42  0000021468    60  0000024811
...        ...    ...   ...         ...   ...         ...   ...         ...
10440492  2014      7     3  1461700004    28  72-1545376    30  26-0508430
10440493  2014      7     3  1461700004    28  72-1545376     4  20-8009003
10440494  2014      7     3  1461700004    28  72-1545376     4  27-3863726
10440495  2014      7     3  1461700004    28  72-1545376     4  7257500009
10440496  2014      7     3  1461700004    28  72-1545376    14  7992700007
10440497  2014      7     3  1461700004    28  72-1545376     4  6451209990
10440498  2014      7     3  1461700004    28  72-1545376     1  1048900004
10440499  2014      7     3  1461700004    28  72-1545376     2  7056000000
10440500  2014      7     3  1461700004    28  72-1545376     2  56-2148606
10440501  2014      7     3  1461700004    28  72-1545376     4  39-0808592
10440502  2014      7     3  1461700004    28  72-1545376     1  41-1842999
10440503  2014      7     3  1461700004    28  72-1545376     1  34-1194858
10440504  2014      7     3  1461700004    28  72-1545376     3  68-0314095
10440505  2014      7     3  1461700004    28  72-1545376     2  33-0534042
10440506  2014      7     3  1461700004    28  72-1545376     1  26-2261031
10440507  2014      7     3  1461700004    28  72-1545376     1  91-2006136
10440508  2014      7     3  1461700004    28  72-1545376     3  26-0707492
10440509  2014      7     3  1461700004    28  72-1545376     1  26-0455770
10440510  2014      7     3  1461700004    28  72-1545376     8  22-3157857
10440511  2014      7     3  1461700004    28  72-1545376     2  95-4462959
10440512  2014      7     3  1461700004    28  72-1545376     1  27-3064521
10440513  2014      7     3  1461700004    28  72-1545376     1  23-2470039
10440514  2014      7     3  1461700004    28  72-1545376     1  36-4485107
10440515  2014      7     3  1461700004    28  72-1545376     1  3444109999
10440516  2014      7     3  1461700004    28  72-1545376     1  83-0171636
10440517  2014      7     3  1461700004    28  72-1545376     4  84-1564935
10440518  2014      7     3  1461700004    28  72-1545376     3  36-4176531
10440519  2014      7     3  1461700004    28  72-1545376     1  52-2240353
10440520  2014      7     3  1461700004    28  72-1545376     2  37-1542226
10440521  2014      7     3  1461700004    28  72-1545376     1  73-1577221

[10440522 rows x 8 columns]
Q003
SELECT year, agency, COUNT(sequence) AS Q003 ,RID
FROM hmdalar2014
WHERE loan_type = '2' AND property_type in ('1', '2') AND amount::INT > 626 AND amount NOT LIKE '%NA%' GROUP BY year, agency, RID;
     year agency  q003         rid
0    2014      7    33  20-1436988
1    2014      9    15  0000617677
2    2014      7    18  26-0360466
3    2014      9     1  0000564605
4    2014      7     4  20-5238443
5    2014      7     5  3418909997
6    2014      7     2  58-2546090
7    2014      9     2  22-3798625
8    2014      7     1  3028209994
9    2014      7    15  80-0233937
10   2014      7    43  20-8544905
11   2014      7    13  33-0419992
12   2014      3     1  0000015219
13   2014      7     1  52-1720545
14   2014      7     1  26-3780954
15   2014      7    24  02-0594137
16   2014      2     1  0002788496
17   2014      7     1  04-3508773
18   2014      7     2  27-4023565
19   2014      7     3  54-1994393
20   2014      7    16  38-2750395
21   2014      7     1  94-3169132
22   2014      7   144  22-3039688
23   2014      7     8  95-4234730
24   2014      3     1  0000050028
25   2014      7    18  68-0151632
26   2014      7     3  74-3061159
27   2014      9     3  99-0032158
28   2014      7    11  3027509990
29   2014      1     2  0000013684
..    ...    ...   ...         ...
338  2014      7     6  7976700006
339  2014      7     1  36-3987946
340  2014      9   100  0000480228
341  2014      7    22  37-1542226
342  2014      5     6  0000004142
343  2014      3     5  0000013303
344  2014      9     2  0000761806
345  2014      7     1  1173900006
346  2014      9     3  0000143662
347  2014      5     2  0000060153
348  2014      7     3  7049700008
349  2014      7     3  46-1868641
350  2014      7    12  7280100005
351  2014      7     3  27-4541183
352  2014      7     5  7145700006
353  2014      7     1  11-2961751
354  2014      7     2  26-4803398
355  2014      7     1  33-0397503
356  2014      3     2  0000028489
357  2014      7    33  11-3290207
358  2014      9     6  0000497404
359  2014      7    53  22-3887207
360  2014      9     1  0000212465
361  2014      7    28  56-2471041
362  2014      9     7  31-1197926
363  2014      9     2  0003303298
364  2014      9     1  0000972590
365  2014      7     4  56-2237729
366  2014      7     7  26-0335190
367  2014      7     1  91-1465333

[368 rows x 4 columns]

In [ ]:
print(Q076['text'])