In [23]:
##############
#K. David Roell CFPB 7/12/16
#Compiles a report of all quality and macro edit failures for HMDA LAR data
#
##############

import os
import pandas as pd
import psycopg2

from SQL_text import *
from SQL_text import Q001
import SQL_text
#conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
#cur = conn.cursor()#instantiate cursor object to use in SQL queries
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',

}

#connect_string = "dbname=%s user=%s host=%s password =%s" %(dbname, user, host, password) #set a string for connection to SQL
try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)


lar_tables = ['hmdalar2014', 'hmdalar2013']
edit_list = [item for item in dir(SQL_text) if not item.startswith("__")]

i'm connected

In [24]:
def edit_text(table='hmdalar2014', edit_sql=Q001, additional_fields=[]):
    base_sql = """SELECT agency, COUNT(sequence) """
    table_sql = "\nFROM {table}\n".format(table=table) 
    group_sql = """GROUP BY agency"""

    add_fields = ''
    for field in additional_fields:
        base_sql = base_sql + ',' + field
        group_sql = group_sql + ', '+ field
    return_sql = base_sql + table_sql + edit_sql + group_sql + ';'
    return return_sql

In [30]:
for edit in edit_list:
    print(edit_text(edit_sql=edit), '\n')

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q001GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q002GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q003GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q004GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q005GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q013GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q014GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q024GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q025GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q032GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q035GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q036GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q037GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q038GROUP BY agency;

SELECT agency, COUNT(sequence)
FROM hmdalar2014
Q068GROUP BY agency;

In [26]:
print([item for item in dir(SQL_text) if not item.startswith("__")])

['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q013', 'Q014', 'Q024', 'Q025', 'Q032', 'Q035', 'Q036', 'Q037', 'Q038', 'Q068']