In [2]:
##############
#K. David Roell CFPB 7/12/16
#expands data selection for quality edits to include context for developing statistical approaches
#will attemtp to segment mortgage market participants by loan activity by:
#volume/count of lending, income of applicants, securitization, property type and other factors
##############

import json
import os
import pandas as pd
import psycopg2
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
get_ipython().magic(u'matplotlib inline')
matplotlib.style.use('ggplot')
#from macro_sql import Q076 
with open('../quality_sql.json') as f: 
    edit_sql = json.load(f)
    
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',
}

#establish a database connection and cursor
try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)

i'm connected

In [ ]:
#get distributions of values for fields
#code default pulls unfiltered data, filters can be applied using named arguments.
def field_dist_geo(field=None, table=None, geo_level=None, prop_type="'1','2','3'", loan_purp="'1', '2','3'", loan_type="'1','2','3','4'", lien="'1','2','3'", occupancy="'1','2','3'"):
    """generates a sql statement used to pull values and associated counts for the listed variable subject to listed filters"""
    #FIXME use a list instead of prop_type, loan_purp, loan_type
    if field is None:
        raise ValueError "field is required"
    if geo_level == 'MSA':
        geo_sql = 'msa,'
    elif geo_level == 'state':
        geo_sql = 'state,'
    elif geo_level == 'county':
        geo_sql = 'CONCAT(state,county),'
    elif geo_level == 'tract':
        geo_sql = 'CONCAT(state,county,tract),'
    else:
        geo_sql = ''
    
    dist_sql = """SELECT DISTINCT year, {geo_sql} {field}, COUNT({field}) 
    FROM {table} """.format(table=table, field=field, geo_sql=geo_sql) 
    #FIXME convert named params to None and raise value error 
    
    #removing the bulk of quesitonable data in exploration by removing HUD
    where_sql = """WHERE agency != '7' AND property_type IN ('{prop_type}') AND loan_purpose IN ('{loan_purp}') 
    AND loan_type IN ('{loan_type}') AND lien IN ('{lien}) AND occupancy IN ('{occupancy}')
    """.format(prop_type=prop_type, loan_purp=loan_purp, loan_type=loan_type, lien=lien)

    group_sql = """GROUP BY year, {geo_group} {field}""".format(field=field, geo_group=geo_sql)
    order_sql = """ ORDER by {field} ASC """.format(field=field)
    return_sql = dist_sql + where_sql + group_sql + order_sql
    print(return_sql)
    return return_sql

In [4]:
def get_field_dist(year=None, field=None, geo_level=''):
    """executes SQL to get distributions of data by selected geography for the stated field for multiple years of hmda"""
    first = True
    while year > 2003:
        table = 'hmdalar' + str(year)
        print(table)
        cur.execute(field_dist_geo(table=table, field=field, geo_level=geo_level))        
        data_df = pd.DataFrame(cur.fetchall())

        col_names = [desc[0] for desc in cur.description]
        if len(data_df.columns) == len(col_names):
            print('setting column names')
            data_df.columns = col_names

        if first == True and len(data_df.columns) > 0:
            dist_df = data_df.copy()
            first = False

        elif first == False and len(data_df.columns) > 0:
            print('merging dataframes')
            dist_df=dist_df.merge(data_df, how='outer')

        else:
            print('no data returned from query')

        print(dist_df.tail())
        path = 'dist_csvs/'
        if not os.path.exists(path):
            os.makedirs(path)

        year -= 1
dist_df.to_csv(path + '{field}_dist_{geo_level}.csv'.format(field=field, geo_level=geo_level),index=False)

NameError: name 'dist_df' is not defined

In [ ]:
#field=None, table=None, geo_level=None, prop_type=None, loan_purp=None, loan_type=None
kwargs={'year':2014,
       'field':'amount',
       'prop_type':None,
       'loan_purp':None,
       'loan_type':None}
get_field_dist(**kwargs)
#get_field_dist(year=2014, field='amount')

hmdalar2014
SELECT DISTINCT year,  amount, COUNT(amount)
    FROM hmdalar2014 WHERE agency != '7' AND property_type IN ('1') AND loan_purpose IN ('1')
    AND loan_type IN ('1') GROUP BY year,  amount ORDER by amount ASC
setting column names
      year amount  count
3446  2014  73212      1
3447  2014  75000      1
3448  2014  84500      1
3449  2014  86000      1
3450  2014  99999      2
hmdalar2013
SELECT DISTINCT year,  amount, COUNT(amount)
    FROM hmdalar2013 WHERE agency != '7' AND property_type IN ('1') AND loan_purpose IN ('1')
    AND loan_type IN ('1') GROUP BY year,  amount ORDER by amount ASC
setting column names
merging dataframes
      year amount  count
6717  2013  50800    1.0
6718  2013  54400    1.0
6719  2013  55800    1.0
6720  2013  76000    1.0
6721  2013  88000    1.0
hmdalar2012
SELECT DISTINCT year,  amount, COUNT(amount)
    FROM hmdalar2012 WHERE agency != '7' AND property_type IN ('1') AND loan_purpose IN ('1')
    AND loan_type IN ('1') GROUP BY year,  amount ORDER by amount ASC