In [1]:
##############
#K. David Roell CFPB 7/12/16
#Compiles a report of all quality and macro edit failures for HMDA LAR data
#
##############

import os
import pandas as pd
import psycopg2

from SQL_test import *
from SQL_test import Q001

#conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
#cur = conn.cursor()#instantiate cursor object to use in SQL queries
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',

}

#connect_string = "dbname=%s user=%s host=%s password =%s" %(dbname, user, host, password) #set a string for connection to SQL
try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)



lar_tables = ['hmdalar2014', 'hmdalar2013']

i'm connected

In [4]:
def edit_text(table='hmdalar2014', edit_sql=Q001, additional_fields=[]):
    base_sql = """SELECT agency, COUNT(sequence) """
    table_sql = "\nFROM {table}\n".format(table=table) 
    group_sql = """GROUP BY agency"""

    add_fields = ''
    for field in additional_fields:
        base_sql = base_sql + ',' + field
        group_sql = group_sql + ', '+ field
    return_sql = base_sql + table_sql + edit_sql + group_sql + ';'
    return return_sql

In [5]:
print(edit_text())

SELECT agency, COUNT(sequence) ,amount, income
FROM hmdalar2014

	WHERE
		amount not like '%NA%'
	AND 	income not like '%NA%'
	AND 	amount::int >= 1000
	AND 	(amount::int / income::int) < 5
	GROUP BY agency,amount, income