In [8]:
##############
#K. David Roell CFPB 7/12/16
#Compiles a report of all quality and macro edit failures for HMDA LAR data
#
##############
import json
import os
import pandas as pd
import psycopg2

with open('quality_sql.json') as f:
    edit_sql = json.load(f)
    
#conn = psycopg2.connect("dbname=hmdamaster user=roellk") #connect and return connection
#cur = conn.cursor()#instantiate cursor object to use in SQL queries
#parameter format for local use #consider changing hmdamaster to roellk if db changes cause a fail
params = {
'dbname':'hmdamaster',
'user':'roellk',
'password':'',
'host':'localhost',

}

#connect_string = "dbname=%s user=%s host=%s password =%s" %(dbname, user, host, password) #set a string for connection to SQL
try:
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    print("i'm connected")

except psycopg2.Error as e: #if database connection results in an error print the following
    print("I am unable to connect to the database: ", e)


lar_tables = ['hmdalar2014', 'hmdalar2013']
#edit_list = [item for item in dir(SQL_text) if not item.startswith("__")]

i'm connected

In [11]:
def edit_text(table='hmdalar2014', edit_sql=edit_sql[0]['text'], edit_name=edit_sql[0]['name'], add_fields=[]):
    base_sql = """SELECT year, agency, COUNT(sequence) AS {edit_name} """.format(edit_name=edit_name)
    table_sql = "\nFROM {table}\n".format(table=table) 
    group_sql = """ GROUP BY year, agency"""


    for field in add_fields:
        base_sql = base_sql + ',' + field
        group_sql = group_sql + ', '+ field
    return_sql = base_sql + table_sql + edit_sql + group_sql + ';'
    print(return_sql)
    return return_sql

In [ ]:
first = True
fields=['RID']
for edit in edit_sql:
    name, text = edit['name'], edit['text']
    print(name)
    try:
        cur.execute(edit_text(edit_sql=text, edit_name=name, add_fields=fields))        
        data_df = pd.DataFrame(cur.fetchall())
        col_names = [desc[0] for desc in cur.description]
        data_df.columns = col_names
        print(data_df, '\n')
        if first:
            quality_df = data_df.copy()
            first = False
        else:
            quality_df=quality_df.merge(data_df, how='outer', on=['agency', 'year'])
            print(quality_df)

    except:
        print('no dataz')
quality_df.to_csv('quality_edits.csv', index=False)

Q035
SELECT year, agency, COUNT(sequence) AS Q035
FROM hmdalar2014
WHERE loan_type != '1' AND purchaser IN  ('1','3') GROUP BY year, agency;
   year agency  q035
0  2014      5   156
1  2014      1   408
2  2014      7  1579
3  2014      2   158
4  2014      9   199
5  2014      3   446

Q001
SELECT year, agency, COUNT(sequence) AS Q001
FROM hmdalar2014
WHERE amount not like '%NA%' AND income not like '%NA%' AND amount::int >= 1000 AND (amount::int / income::int) < 5 GROUP BY year, agency;
   year agency   q001
0  2014      5   1699
1  2014      1   4514
2  2014      7   9280
3  2014      2   1667
4  2014      9  54243
5  2014      3   4614

   year agency  q035   q001
0  2014      5   156   1699
1  2014      1   408   4514
2  2014      7  1579   9280
3  2014      2   158   1667
4  2014      9   199  54243
5  2014      3   446   4614
Q002
SELECT year, agency, COUNT(sequence) AS Q002
FROM hmdalar2014
WHERE property_type = '1' AND income NOT LIKE '%NA%' AND amount NOT LIKE '%NA%' AND income::INT >= 200 AND amount::INT >= 2000 GROUP BY year, agency;
   year agency  q002
0  2014      5   214
1  2014      1   971
2  2014      7   673
3  2014      2   274
4  2014      9  9892
5  2014      3   704

   year agency  q035   q001  q002
0  2014      5   156   1699   214
1  2014      1   408   4514   971
2  2014      7  1579   9280   673
3  2014      2   158   1667   274
4  2014      9   199  54243  9892
5  2014      3   446   4614   704
Q003
SELECT year, agency, COUNT(sequence) AS Q003
FROM hmdalar2014
WHERE loan_type = '2' AND property_type in ('1', '2') AND amount::INT > 626 AND amount NOT LIKE '%NA%' GROUP BY year, agency;
   year agency  q003
0  2014      5    13
1  2014      7  3107
2  2014      1   139
3  2014      2    72
4  2014      3   114
5  2014      9  1178

   year agency  q035   q001  q002  q003
0  2014      5   156   1699   214    13
1  2014      1   408   4514   971   139
2  2014      7  1579   9280   673  3107
3  2014      2   158   1667   274    72
4  2014      9   199  54243  9892  1178
5  2014      3   446   4614   704   114
Q004
SELECT year, agency, COUNT(sequence) AS Q004
FROM hmdalar2014
WHERE loan_type = '3' AND property_type IN ('1', '2') AND amount::INT >= 1050 AND amount NOT LIKE '%NA%' GROUP BY year, agency;